#sr-header-area {
  background: none;
  border-bottom:1px solid #333;
  -webkit-box-shadow: 0 1px 0 #777;
  -moz-box-shadow: 0 1px 0 #D0D0D0;
  color: #666;
  z-index:5;
  position:relative;
}

#sr-header-area a {
  color: #999;
}

#sr-header-area a:hover {
  color: #FFF;
  text-decoration:none;
}

.dropdown.srdrop .selected {
  color: #999;
}

#sr-header-area a#sr-more-link {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  padding: 1px 5px;
  top: 2px;
  background: rgb(255, 255, 255);
  color: #333;
  opacity: 0.7;
}

#sr-header-area a#sr-more-link:hover {
  color: #000;
  opacity:1.0;
}


#sr-header-area .selected a {
  color: #DDD;
  background: rgb(0,0,0);
  -webkit-text-shadow: 0 -1px 0 #000;
  -moz-text-shadow: 0 -1px 0 #000;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 0 4px;
  -webkit-box-shadow: 0 1px 0 #828282;
  -moz-box-shadow: 0 1px 0 #828282;
}

#header {
  background:#333;
  background: -webkit-linear-gradient(#595959, #1D1D1D);
  background: -moz-linear-gradient(#595959, #1D1D1D);
  border:none;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
}

#header-bottom-left {
  background: url(%%tabmenu%%) repeat-x left bottom;
  line-height: 20px;
  vertical-align:middle;
}

#header-img-a {
  border: none;
  margin:0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
  position:relative;
  z-index:5;
  overflow:hidden;
}


#header-img-a:after {
  content: attr(title);
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  padding: 2px 5px;
  background:rgb(0,0,0);
  color:rgb(255,255,255);
  opacity:0.5;
}

#header-img-a img {
  margin:0;
  padding:0;
  border:none;
  position:relative;
}

.pagename {
  display: inline-block;
  width: 56px;
  height: 52px;
  vertical-align: middle;
}

.pagename a {
  background: url(%%mls%%);
  display: inline-block;
  width: 56px;
  height: 52px;
  text-indent: -9999px;
  vertical-align: middle;
}

#header .tabmenu {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

#header .tabmenu li a {
  background: none;
  border:none;
  color: #555;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: 0 1px 0 #B5B5B5;
  -webkit-text-shadow: 0 1px 0 #B5B5B5;
  -moz-text-shadow: 0 1px 0 #B5B5B5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

#header .tabmenu li a:hover {
  color: #333;
  -webkit-text-shadow: 0 1px 0 rgb(255,255,255), 0 0 20px #FFF;
  -moz-text-shadow: 0 1px 0 rgb(255,255,255), 0 0 20px #FFF;
}
#header .tabmenu .selected a, #header .tabmenu .selected a:hover {
  background: #888;
  color:#000;
  -webkit-box-shadow: 0 1px 0 #D0D0D0;
  -moz-box-shadow: 0 1px 0 #D0D0D0;
}

#header-bottom-right {
  bottom: 16px;
  line-height:22px;
  padding: 0 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #999;
  -webkit-box-shadow: 0 1px #D0D0D0;
  -moz-box-shadow: 0 1px #D0D0D0;
  color:#777;
  -webkit-text-shadow: 0 1px 0 rgb(255,255,255);
  -moz-text-shadow: 0 1px 0 rgb(255,255,255);
}

#header-bottom-right .separator {
  color:#777;
}

#header-bottom-right .user {
  color:#666;
}

#header-bottom-right a {
  color: #444;
}

#header-bottom-right a:hover {
  color: #FFF;
  text-decoration:none;
  text-shadow:none;
}

#header:after {
  text-indent:-9999px;
  content: 'Team Crests';
  position:absolute;
  right:0;
  left:10px;
  bottom:52px;
  height: 32px;
  background: url(%%crests%%) no-repeat right center;
  z-index: 4;
}

