body {
  background: #FFF;
}

#header {
  background: #22292E;
  border-bottom: none;
}

#sr-header-area {
  background: #22292E;
  border:none;
  color:#FFF;
}

#sr-header-area a {
  text-shadow: 0px -1px 0px rgb(0,0,0);
  color:#FFF;
  color: rgb(255,255,255);
}

#sr-header-area a:hover {
  text-decoration:none;
  color:#FFF;
}

#sr-header-area #sr-more-link {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  opacity:0.9;
  padding-left: 5px;
  color:#000;
  text-shadow:none;
}

#sr-header-area .selected a {
  font-weight:normal;
  background: -webkit-linear-gradient(#000, #000);
  background: -moz-linear-gradient(#000, #000);
  border-radius: 5px;
  color:#FFF;
  padding: 2px 8px;
}

.pagename {
  position:absolute;
  top: -30px;
  left: 8px;
  width: 76px;
  height: 102px;
  overflow:hidden;
}

.pagename a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-indent: -9999px;
  background: url(%%sounders%%);
}

#header-bottom-left {
  position:relative;
  height:42px;
  margin-top: 30px;
  padding-left: 80px;
  background: #5A8E22;
  background: -webkit-linear-gradient(#61BD29, #5FAD2D 50%, #5FA92E 50%, #5D9732);
  background: -moz-linear-gradient(#61BD29, #5FAD2D 50%, #5FA92E 50%, #5D9732);
  -moz-box-shadow: 0px 0px 15px #5D9732;
  -webkit-box-shadow: 0px 0px 15px #5D9732;
  border-top: 1px solid #3A552F;
  border-bottom: 1px solid #C5DAB6;
}

#header-img-a {
  float:left;
  text-indent: -9999px;
  width: 42px;
  height:42px;
  background:url(%%reddit%%) no-repeat center center;
}

.content {
  margin-top: 30px;
  margin-left:8px;
}

#header .tabmenu {
  margin:0;
  padding:0;
}

#header .tabmenu li {
  margin:0;
  padding:0;
  float:left;
  font-weight:400;
  text-transform: uppercase;
  font-size:10px;
  letter-spacing: 0.1em;
  border:none;
  margin-top: 6px;
}

#header .tabmenu li a {
  font-family: HelveticaNeue, Helvetica, arial, sans-serif;
  display:block;
  background: none;
  color:rgb(255,255,255);
  font-size: 11px;
  line-height:30px;
  padding:0 12px;
}

#header .tabmenu li:first-child a {
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  border-left:none;
}

#header .tabmenu li:last-child a {
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  border-right:none;
}

#header .tabmenu li.selected a {
  border:none;
  background:-webkit-linear-gradient(#284520, #407033);
  background:-moz-linear-gradient(#284520, #407033);
  -webkit-box-shadow: 0 1px #5F9C3F;
  color:#FFF;
  border-radius:5px;
}

#header .tabmenu li a:hover {
  text-shadow: 0px -1px #3A552F, 0px 0px 20px #FF0;
  color:#FFF;
}

.dropdown.srdrop .selected {
  color:#FFF;
}

#header-bottom-right {
  position:absolute;
  right:0;
  bottom: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border:none;
  background: #1F9BEA;
  background: -webkit-linear-gradient(#1F9BEA, #1770A8);
  background: -moz-linear-gradient(#1F9BEA, #1770A8);
  color:#FFF;
  color:rgb(255,255,255);
  padding:5px 8px;
  -webkit-box-shadow:0px 1px #85B366;
  -moz-box-shadow:0px 1px #85B366;
}

#header-bottom-right a {
  color: #FFF;
  font-weight:normal;
}

.separator, .user {
  color:#FFF;
  color:rgb(255,255,255);
}